<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_TW</string>
	</array>
	<key>CFBundleName</key>
	<string>牛牛教学</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>fb</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb634583160038146</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>com.mobilekingdom.edukingdom</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ekapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>winxin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx6480a0910e7a11ca</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>FacebookAppID</key>
	<string>634583160038146</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbauth</string>
		<string>fb-messager-api</string>
		<string>fbauth2</string>
		<string>fbshareextansion</string>
		<string>whatsapp</string>
		<string>line</string>
		<string>weixin</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>允許啟用日曆功能，即時獲得最新活動行事曆</string>
	<key>NSCameraUsageDescription</key>
	<string>允許啟用相機功能，更新個人頭像及分享相機內容</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>允許啟用定位功能，即時知道活動消息及位置</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>允許你分享相機內容，也可啟用照片和影片功能完成照片上傳或保存</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>允許你分享相機內容，也可啟用照片和影片功能完成照片上傳或保存</string>
	<key>RET_APP_NAME</key>
	<string>EK_iOS_APP</string>
	<key>RET_CERT</key>
	<string>47d23eb3862611ce90a055dba82ec66f</string>
	<key>RET_SITE_ID</key>
	<string>3</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
